.footer {
  padding: 4rem 6rem;
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
}
.footer .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
}
.footer .top div h1 {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.footer .top i {
  color: #fff;
  font-size: 2rem;
  margin-right: 1rem;
}
.footer .top i:hover {
  color: #01959a;
}

/*footer---bottom*/
.footer .bottom {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #fff;
}
.footer .bottom div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 2rem;
  overflow: hidden; /* Hide scrollbars */
}

.footer .bottom h4 {
  font-size: 1.3rem;
  padding: 1rem 0 0.8rem 0;
}
.footer .bottom div a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding-bottom: 0.4rem;
  font-size: 1.1rem;
  color: #fafafa;
}

@media screen and (max-width: 850px) {
  .footer {
    padding: 4rem 2rem;
  }
  .footer i {
    margin: 1rem 1rem 0 0;
  }
  .bottom div {
    width: 50%;
  }
  .footer .bottom div a {
    display: flex;
    justify-content: start;
  }
}
