.form-container {
  margin: 12rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container form input {
  margin: 1rem 0;
}
.form-container form textarea {
  margin-bottom: 1rem;
  width: 20rem;
  height: 7rem;
  font-weight: 900;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.form-container h1 {
  margin-bottom: 3rem;
}

.form-container input {
  font-weight: 900;
  color: black;
  width: 20rem;
  height: 2.5rem;
  border-radius: 1rem;
  padding-left: 1rem;
}

.form-container button {
  border: 1px solid black;
  border-radius: 1rem;
  background-color: white;
}
.form-container button:hover {
  background-color: black;
  transition: 0.2s ease-in-out;
}
@media screen and (max-width: 850px) {
  .form-container button {
    display: inline;
  }
  .form-container {
    margin: 10rem 2rem;
  }
  .form-container form {
    padding-top: 2rem;
    width: 90%;
  }
}
